{% extends "account/base.html" %} {% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="card gold-shadow p-5">
        <h1 class="text-center">{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="container text-center mt-3">
                <button class="btn custom-button-dark-gold font-sancreek m-3 fs-4" type="submit" name="action">{% trans "Change Password" %}</button>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
