{% extends "base.html" %}
{% block content %}

<!-- Hero Image -->
<div class="hero-container">
    <div class="hero-image"></div>
</div>

<!-- About -->
<div id="about" class="container mt-5 text-center">

    <div class="container heading">
        <hr/>
        <h1 class="text-uppercase">Welcome to Niell's Barbershop</h1>
        <hr/>
    </div>

    <p class="fs-4">Your Premier Destination for Grooming Excellence in the heart of Old Town, Swindon</p>
    <div class="row">
        <div class="col-sm p-3 m-2">
            <h5 class="fw-bold fs-5">Masterful Craftmanship</h5> 
            <p>After completing his NVQ is barbering, Neill spend 2 years honing his craft in Marlborough before opening his own barbershop.</p>
        </div>
    
        <div class="col-sm p-3 m-2">
            <h5 class="fw-bold fs-5">Personalized Services</h5> 
            <p>All services are tailored to your individual preferences, whether it's a classic cut, a modern style, or a beard grooming masterpiece.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm p-3 m-2">
            <h5 class="fw-bold fs-5">Cutting-Edge Techniques</h5> 
            <p>He stays at the forefront of the industry, incorporating the latest trends and technologies to give you the best possible grooming experience.</p>
        </div>
        <div class="col-sm p-3 m-2">
            <h5 class="fw-bold fs-5">Quality Products</h5> 
            <p>He only use top-tier grooming products to ensure you get the best results and maintain your look long after you leave his chair.</p>
        </div>
    </div>
</div>

<!-- Haircuts -->
<div id="haircuts" class="dark-background text-center p-5 fill-width">
    <div class="container heading light-text">
        <hr/>
        <h2 class="fs-1 text-uppercase gold-text">Haircuts</h2>
        <hr/>
    </div>
    <div class="container light-text">
        <p>Your haircut is a statement of style and individuality. Niall is passionate about delivering more than just a haircut; he creates an experience tailored to you. Explore the diverse range of haircut services below and book your appointment for an unparalleled grooming experience at Niall's Barbershop.</p>
        <h2 class="gold-text p-3">Book a Haircut <br/><br/>
            <i class="fa-solid fa-hand-point-down fs-1"></i></h2>
    </div>

    <div class="container col-12">
        <div class="row justify-content-md-center ">
            {% for service in services %}
            <div class="col-md-4 mt-4">
                <a href="{% url 'createbooking' %}" class="haircut-hover">
                    <div class="card p-2 pt-3 dark-background light-text haircut-hover">
                        <i class="fa-solid fa-scissors"></i>
                        <h4 class="pt-2">{{ service.service_name }}</h4> 
                        <p>£{{ service.cost }}</p>
                    </div>
                </a>
            </div>
        {% if forloop.counter|divisibleby:2%}
        </div>
        <div class="row justify-content-md-center">
        {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<!-- Contact -->
<div id="contact" class="container mt-5 text-center">

    <div class="container heading">
        <hr/>
        <h1 class="text-uppercase">Contact</h1>
        <hr/>
    </div>

    <p class="fs-4">You can find the shop in the heart of Old Town, Swindon. We're open Monday to Saturday, pop in to say hey or get in touch below!</p>
    <div class="row">
        <div class="col-sm p-3 m-2">
            <h5 class="fw-bold fs-5">Opening Hours</h5> 
            <p>Monday: 9am - 5:30pm</p>
            <p>Tuesday: 9am - 5:30pm</p>
            <p>Wednesday: 9am - 5:30pm</p>
            <p>Thursday: 9am - 5:30pm</p>
            <p>Friday: 9am - 5:30pm</p>
            <p>Saturday: 7am - 2pm</p>
            <p>Sunday: Closed</p>
        </div>
    
        <div class="col-sm p-3 m-2">
            <h5 class="fw-bold fs-5">Come Visit Us</h5> 
            <p>Unit 1,<br>The Arcade,<br>29c Wood Street,<br>Swindon<br>SN1 4AN</p>
            <a href="mailto: niallsbarbershop@gmail.com">niallsbarbershop@gmail.com</a><br><br>
            <a href="{% url 'createbooking' %}" class="link-underline link-underline-opacity-0">
                <div class="">
                    <button class="btn custom-button-dark-gold pt-3 haircut-hover" type="button"><h2>Book a Haircut</h2></button>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock %}