@import url('https://fonts.googleapis.com/css2?family=Sancreek&family=Tenor+Sans&display=swap');

:root {
    --clr-gold: #af7f1f;
    --clr-light: #faf8f2;
    --clr-dark: #212529;
}

body {
    font-family: 'Tenor Sans', sans-serif;
    background-color: var(--clr-light);
}

h1, h2, h3, h4, h5 {
    font-family: 'Sancreek', serif;
}

/* Text */
.gold-text {
    transition: .5s ease-in-out;
    color: var(--clr-gold)
}

.light-text {
    color: var(--clr-light);
}

.dark-text {
    color: var(--clr-dark);
}

.font-sancreek {
    font-family: 'Sancreek', serif;
}

/* Background Colors */

.dark-background {
    background-color: var(--clr-dark);
}

.gold-background {
    background-color: var(--clr-gold);
}

.hover-white:hover {
    transition: .5s ease-in-out;
    color: var(--clr-light)
}

/* Navigation */
.fill-viewport-height {
    min-height: 80vh;
}

/* Alert Box */

#alert-container {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}

/* Custom Utilities */

.custom-button-dark-gold {
    transition: .5s ease-in-out;
    background-color: var(--clr-dark);
    color: var(--clr-gold);
    box-shadow: 0 0.2rem 1rem var(--clr-gold);
}

.custom-button-dark-gold:hover {
    transition: .5s ease-in-out;
    background-color: var(--clr-gold);
    color: var(--clr-dark);
    box-shadow: 0 0.2rem 1rem var(--clr-dark);
    transform: scale(1.01);
}

.custom-button-light-gold {
    transition: .5s ease-in-out;
    background-color: var(--clr-light);
    color: var(--clr-gold);
    box-shadow: 0 0.2rem 1rem var(--clr-gold);
}

.custom-button-light-gold:hover {
    transition: .5s ease-in-out;
    background-color: var(--clr-gold);
    color: var(--clr-light);
    box-shadow: 0 0.2rem 1rem var(--clr-dark);
    transform: scale(1.01);
}

.custom-close-btn {
    transition: .5s ease-in-out;
}

.custom-close-btn:hover {
    transition: .5s ease-in-out;
    transform: scale(1.15) rotateZ(-20deg);
}

.gold-shadow {
    box-shadow: 0 0.2rem 1rem var(--clr-gold);
}

.push-down {
    position: relative;
    top: 3rem;
}

.custom-card-light-gold {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    box-shadow: 0 0.2rem 1rem var(--clr-gold);
}

.red-test {
    background-color: red;
}

/* Home Page */

.hero-container {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
}

.hero-image {
    height: 80vh;
    width: 100%;
    background: url('https://res.cloudinary.com/deahxwfve/image/upload/v1699609296/neills-barbershop-hero-3_uskfyr.png') no-repeat center center / cover;
}

.heading {
    width: fit-content;
}

.haircut-hover {
    transition: .5s ease-in-out;
    text-decoration: none;
    box-shadow: 0 0.2rem 1rem var(--clr-gold);
}

.haircut-hover:hover {
    transition: .5s ease-in-out;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    transform: scale(1.01);

}

.open-haircut-modal-btn {
    width: 80%;
    transition: .5s ease-in-out;
    box-shadow: 0 0.2rem 1rem var(--clr-gold);
    border-radius: .5rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-family: 'Sancreek', serif;
}

.open-haircut-modal-btn:hover {
    transition: .5s ease-in-out;
    transform: scale(1.1);
    background-color: var(--clr-light);
    color: var(--clr-dark);
}
