{% extends "base.html" %}
{% load i18n %}{% load account %}{% load crispy_forms_tags %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <p class="pt-5">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <form action="" method="post">{% csrf_token %}
            {{ wizard.management_form }}
            {{ wizard.form.management_form }}

            <div class="row justify-content-md-center">
                {% for service in services %}
                    <div class="col-md-4 mt-4">
                        <input type="radio" id="service_{{ service.id }}" name="haircut_option" value="{{ service.id }}" {% if wizard.form.value == service.id %}checked{% endif %}>
                        <label for="service_{{ service.id }}">
                            <div class="card p-2 pt-3 dark-background light-text haircut-hover text-center">
                                <i class="fa-solid fa-scissors"></i>
                                <h4 class="pt-2">{{ service.service_name }}</h4> 
                                <p>{{ service.session_length }}</p>
                                <p>£{{ service.cost }}</p>
                            </div>
                        </label>
                    </div>
                {% endfor %}
            </div>

            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
            {% endif %}
            <input type="hidden" name="{{ wizard.form.name }}-haircut" value="{{ wizard.form.value }}">

            <input type="submit" value="{% translate "submit" %}"/>
        </form>
    </div>
{% endblock %}








{% comment %} {% extends "base.html" %}{% load crispy_forms_tags %}{% load account %}
{% block content %}
<div class="container mt-5">

    <!-- Error message -->
    {% if form.errors %}
        <div class="alert bg-danger text-center container-sm ">
            <h2>We had an issue booking your haircut</h2><br>
                {% for field, errors in form.errors.items %}
                        <p>{{ field }}: {{ errors.0 }}</p>
                {% endfor %}
        </div>
    {% endif %}

    <div class="m-3">
        <form method="POST" action="{% url 'booking-create' %}" class="form mb-2 p-2 form-style" enctype="multipart/form-data">
            <h1 class="text-center pt-5">Book a Haircut</h1>
            {% csrf_token %}
            {{ form | crispy }}
            {{ form.media }}
            <button type="submit" class="btn form-style custom-button-dark-gold mt-3">Book</button>
        </form>
    </div>

</div>    

{% endblock content %} {% endcomment %}