{% extends "base.html" %}
{% block content %}
{% load account %}

<div class="container mt-5 text-center push-down">
    <div class="container heading">
        <hr>
        <h1>Upcoming Appointments</h1>
        <hr>
    </div>
        <h2 class="pt-3">Welcome, {% user_display user %}!</h2>
    
    <p>Please select an applointment for more details, or update it.</p>
    
        {% if object_list %}
            {% for booking in object_list %}
            <div>
                <div class="d-flex justify-content-center ">
                <a href="{% url 'booking-detail' booking.id %}" class="link-underline link-underline-opacity-0">
                    <div class="card shadow m-3 text-center custom-button-light-gold">
                        <div class="card-header dark-background">
                            <p class="p-0 m-0 font-sancreek fs-4">{{ booking.date_of_booking|date:"l j F Y" }}</p>
                        </div> 
                        <h5 class="mt-3 fs-3">{{ booking.service_name }}</h5>
                        <h5>{{ booking.start_time|date:"g:i a" }} </h5>
                        {% if user.is_superuser %}
                        <p>{{ booking.username }}</p>
                        {% endif %}
                    </div>
                </a> 
            </div>       
            </div>
            
            {% endfor %}

            <a href="{% url 'booking-create' %}" class="link-underline link-underline-opacity-0">
                <div class="d-flex justify-content-center p-3">
                    <button class="btn custom-button-dark-gold pt-3 " type="button"><h2>Book Another Appointment</h2></button>
                </div>
            </a>

        {% else %}
        <div class='d-flex justify-content-center '>
            <div class="card shadow p-3 m-3 text-center w-75">
                <p class="pt-3">No upcoming apppointments.</p> 
                
                <a href="{% url 'booking-create' %}" class="link-underline link-underline-opacity-0">
                    <div class="d-flex justify-content-center p-3">
                        <button class="btn custom-button-dark-gold pt-3 " type="button"><h2>Book An Appointment</h2></button>
                    </div>
                </a>

            </div>
        </div>
        {% endif %}

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"
                class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" 
                class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


{% endblock %}