{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="haircuts" class="dark-background text-center p-5 fill-width">
    <div class="container heading light-text">
        <hr/>
        <h2 class="fs-1 text-uppercase gold-text">Haircuts</h2>
        <hr/>
    </div>
    <div class="container light-text">
        <p>Your haircut is a statement of style and individuality. Niall is passionate about delivering more than just a haircut; he creates an experience tailored to you. Explore the diverse range of haircut services below and book your appointment for an unparalleled grooming experience at Niall's Barbershop.</p>
        
        <div class="m-3">
            <form method="POST" action="{% url 'booking-create' %}" class="form mb-2 p-2 form-style" enctype="multipart/form-data">
                <h1 class="text-center pt-5">Book a Haircut</h1>
                {% csrf_token %}
                {{ form | crispy }}
                {{ form.media }}
                <button type="submit" class="btn form-style custom-button-dark-gold mt-3">Book</button>
            </form>
        </div>

        <h2 class="gold-text p-3">Select a Haircut <br/><br/>
            <i class="fa-solid fa-hand-point-down fs-1"></i></h2>
    </div>

    <div class="container col-12">
        <div class="row justify-content-md-center ">
            {% for service in services %}
            <div class="col-md-4 mt-4">
                <a href="{% url 'booking-create' %}" class="haircut-hover">
                    <div class="card p-2 pt-3 dark-background light-text haircut-hover">
                        <i class="fa-solid fa-scissors"></i>
                        <h4 class="pt-2">{{ service.service_name }}</h4> 
                        <p>{{ service.session_length }}</p>
                        <p>£{{ service.cost }}</p>
                    </div>
                </a>
            </div>
        {% if forloop.counter|divisibleby:2%}
        </div>
        <div class="row justify-content-md-center">
        {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}