{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Upcoming Appointments</h1>

        {% for booking in object_list %}
        <div class='d-flex justify-content-center '>
            <div class="card shadow p-3 m-3 text-center w-75">
                <p>{{ booking.date_of_booking|date:"l j F Y" }}</p> 
                <p>{{ booking.username }}</p>
                <p>{{ booking.service_name }} at {{ booking.start_time|date:"g a" }}</p>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button">Edit Appointment</button>
                    <button class="btn btn-danger" type="button">Cancel Appointment</button>
                  </div>
            </div>
        </div>
        {% endfor %}


    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"
                class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" 
                class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

{% endblock %}