{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block css %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <!-- Form Wizard Media -->
    {% block head %}
    {% endblock %}
    
    <title>Niall's Barbershop</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
</head>
<body>
    <div class="fill-viewport-height">
    <!-- Naigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand gold-text hover-white" href="{% url "home" %}">NIALL'S BARBERSHOP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#haircuts">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#contact">Contact</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url "createbooking" %}">Book a Haircut</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url "booking-home" %}">Bookings</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Alert Box -->
        <div class='container mt-5' id="alert-container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                        <div class="alert {{ message.tags  }} alert-dismissible fade show " id="msg" role="alert">
                             {{ message | safe }}
                             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% comment %} <div class='container '> {% endcomment %}
            {% block content %}
            {% endblock %}
        {% comment %} </div> {% endcomment %}
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark mt-5 ">
        <div class="container px-4">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa-brands fa-facebook fa-stack-1x gold-text hover-white"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa-brands fa-instagram fa-stack-1x gold-text hover-white"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-github fa-stack-1x gold-text hover-white"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="m-0 text-center gold-text">Copyright &copy; Niall's Barbershop 2023</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- font awesome script -->
    <script src="https://kit.fontawesome.com/076967cb18.js" crossorigin="anonymous"></script>
</body>
</html>